.main-content{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 7em auto;
    display: flex;
}
.company__info{
    background-color: #460B6E;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
@media screen and (max-width: 640px) {
    .main-content{width: 90%;}
    .company__info{
        display: none;
    }
    .login_form{
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
    }
}
@media screen and (min-width: 642px) and (max-width:800px){
    .main-content{width: 70%;}
}
.row > h2{
    color:#460B6E;
}
.login_form{
    background-color: #fff;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
}
form{
    padding: 0 .2em;
}
.form__input{
    width: 100%;
    border:0px solid transparent;
    border-radius: 0;
    border-bottom: 1.5px solid #aaa;
    padding: .5em .5em .5em;
    padding-left: 0.5em;
    outline:none;
    margin:1.5em auto;
    transition: all .5s ease;
}
.form__input:focus{
    border-bottom-color: #460B6E;
}
.btn{
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color:#460B6E;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #460B6E;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
a:hover{
    text-decoration: none;
}

.field-icon {
  margin-left: -40px;
  margin-top: 1.4em;
  position: absolute;
  font-size: 20px;
  z-index: 2;
}